name: "Lint & Test"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  lint-test:
    name: Lint & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential clang git

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable, nightly
          components: clippy, rustfmt

      - name: Run linting and formatting
        run: |
          cargo +nightly fmt --check
          cargo clippy --all-targets -- -D warnings
          
      - name: Run tests
        run: cargo test --verbose
